.testimonial {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.testimonial .title {
    text-align: center;
    color: #076e17;
    font-size: 50px;
    padding-bottom: 30px;
}

.testimonial .flex-card {
    display: flex;
    gap: 20px;
    /* width: auto;
    height: auto; */
}

.testimonial .card .header-con {
    display: flex;
    gap: 40px;
}

.testimonial .card {
    width: 300px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.4s;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
    color: #076e17;

    padding: 10px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .testimonial .flex-card {
        padding: 20px 20px;
    }
}