.testimonial {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.testimonial .title {
    text-align: center;
    color: #076e17;
    font-size: 50px;
}

.testimonial .flex-card {
    display: flex;
    gap: 20px;
    /* width: auto;
    height: auto; */
}

.testimonial .card .header-con {
    display: flex;
    padding: 0px 10px;
    gap: 70px;
}

.testimonial .card {
    height: 200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.4s;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
    color: #076e17;

    padding: 4px 4px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .testimonial .flex-card {
        padding: 20px 10px;
    }

    .testimonial .card .header-con {
        display: flex;
        gap: 20px;
        padding: 0px 0px;
    }
}

@media (max-width: 426px) {
    .testimonial .flex-card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width: 426px) {
    
}