:root {
    --green: #076e17;
    --green1: #66e066
}

.contact-container {
    display: flex;
    gap: 5rem;

    width: 95%;
    margin: auto;
}

.map iframe {
    width: 600px;
    height: 75vh;
    margin-top: 5%;
}

.form {
    flex: 1;
    min-width: 300px;
}

.form-flex {
    margin-top: 10%;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form .details,
.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: white;
    border: 3px solid var(--green);
    outline: none;
    height: 60px;
    width: 250px;

    padding: 0px 10px;
    font-size: 13px;
    border-radius: 8px;
    color: #076e17;
    transition: ease-in-out 0.5s;
}

input:focus {
    border: 3px solid var(--green1);
}

input:hover {
    border: 3px solid var(--green1);
}

input::placeholder {
    color: var(--green);
}

.contact-container .form-btn {
    border: 1px solid white;
    background-color: var(--green);
    padding: 0px 10px;
    outline: none;
    color: white;
    margin-left: 0;
}


.contact-container .form-btn:hover {
    border: 1px solid var(--green1);
    background-color: var(--green1);
}

textarea {
    width: 95%;
    padding: 10px 10px;
    font-size: 13px;
    color: #076e17;
    border: 3px solid var(--green);
    outline: none;
    transition: ease-in-out 0.5s;
}

textarea:focus {
    border: 3px solid var(--green1);
}

textarea:hover {
    border: 3px solid var(--green1);
}

@media (max-width:1025px) {
    .map iframe {
        width: 100%;
        height: 80%;
    }
}

@media (max-width:769px) {
    .contact-container {
        margin-top: 15%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .map iframe {
        height: 100vh;
    }

    input {
        width: 100vh;
    }
}

@media (max-width:426px) {
    .contact-container {
        margin-top: 15%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    input {
        width: 100%;
    }
}