:root {
    --green: #076e17;
    --green1: #66e066
}

.main {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 50px;
}

.main .article {
    transition: all 1s;
}

.main .article:hover {
    margin-top: -30px;
}

.main .article .title {
    font-size: 50px;
    color: var(--green);
    margin-bottom: 20px;
}

.main .article .info {
    width: 95%;
    margin: auto;

    font-size: 20px;
    color: #000;
    line-height: 1.8;
    margin-bottom: 20px;
}

.main img {
    width: 600px;
    transition: all 1s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.main img:hover {
    /* margin-top: -30px; */
    transition: all 1s;
    border-radius: 120px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1024px) {
    .main .article .title {
        font-size: 40px;
        padding: 0px 10px;
    }

    .main img {
        width: 500px;
        border-radius: none;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
    }

    .main .article .info {
        padding: 0px 20px;
    }
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main .article {
        width: 90%;
        margin: auto;
    }

    .main .intro {
        margin-left: 50px;
        margin-top: 50px;
    }

    .main img {
        width: 700px;
    }
}