:root {
  --green: #076e17;
  --green1: #66e066
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.nav img {
  width: 150px;
}

.nav ul {
  display: flex;
  gap: 50px;

  list-style: none;
  margin-top: 50px;
  cursor: pointer;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--green);
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #076e17;
  transition: 0.3s;
}

.nav ul li a:hover::after {
  width: 100%;
}


button {
  --color: #076e17;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 15px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: var(--color);
  transition: background 0s;
}

.nav .button-container {
  display: flex;
  background-color: var(--color);
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px,
    rgb(0, 0, 0) 5px 5px 15px;

  opacity: 0;
  position: absolute;
}

.nav .button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.nav .button:active {
  transform: translateY(-3px);
}

.nav .icon {
  font-size: 20px;
}

@media (max-width: 768px) {

  .nav ul,
  .btn,
  .logo {
    display: none;
  }

  .nav .button-container {
    opacity: 1;
    margin-left: 3px;
    margin-top: 10px;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: none;
  }
}

@media (max-width: 321px) {
  .nav .button {
    width: 80px;
  }
}