:root {
    --green: #076e17;
    --green1: #66e066
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.header .content {
    color: white;
    font-size: 130px;
    padding-top: 50px;
}

.header .content span {
    color: var(--green1);
}

.header .banner {
    width: 480px;
    transition: all 1s;
}

@media (max-width: 1024px) { 
    .header .content {
        font-size: 90px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        /* flex-direction: column; */
    }

    .header .banner {
        width: 200px;
        height: 240px;
        margin-top: 80px;
    }

    .header .banner:hover {
        margin-top: 80px;
    }

    .header .content {
        font-size: 90px;
        margin-top: 20px;
    }
}

@media (max-width: 426px) {
    .header .content {
        font-size: 55px;
    }
}

@media (max-width: 321px) {
    .header .banner {
        width: 180px;
    }

    .header .content {
        font-size: 45px;
    }
}