.display {
    background-color: white;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    padding-bottom: 50px;
    position: relative;
}

.display img {
    width: 250px;
}

.display .img-flex {
    display: flex;
    overflow: hidden;
    gap: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.display .back-btn {
    width: 40px;
    position: absolute;
    top: 200px;
    left: 10px;
    right: 0;
    cursor: pointer;
    z-index: 1;
}

.display .next-btn {
    width: 40px;
    right: 0;
    position: absolute;
    top: 200px;
    cursor: pointer;
}

.display .next-btn,
.back-btn {
    transform: translateY(-50%);
}

.flex ul {
    display: flex;
    width: 200%;
    gap: 112px;
    transition: 0.5s;
}

.flex ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}

.flex ul li img {
    height: 300px;
}

.slider {
    display: none;
    width: 100%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    gap: 20px;
    animation: scroll 12s linear infinite;
}

.slider li {
    list-style: none;
}

.slider img {
    height: 300px;
}

/* .slider img {
    width: 120px;
    height: auto;
    display: block;
    border-radius: 8px;
} */

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-362%);
    }
}

@media (max-width: 768px) {
    .display .next-btn {
        /* left: 730px; */
        top: 250px;
        width: 35px;
    }

    .display .back-btn {
        top: 250px;
        left: 3px;
        width: 35px;
    }

}


@media (max-width: 426px) {

    .display .img-flex,
    .flex,
    .back-btn,
    .next-btn {
        display: none;
    }

    .slider {
        display: block;
    }
}