:root {
    --green: #076e17;
    --green1: #66e066;
}

.section {
    background-color: var(--green);
    padding-bottom: 40px;
}

.section .title {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.section .subtitle {
    color: var(--green1);
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

.section .content {
    color: white;
}

.section ul {
    margin-left: 40px;
    color: white;
    line-height: 2em;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section .ul-display {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .section .ul-display {
        display: flex;
        flex-direction: column;
    }
}